 .image1{
                width: 100%;
               
                border-radius: 8px;
            }
            .profile1{
                width: 36px;
                height: 36px;
                border-radius: 50%;
                margin-top: 8px;
                }
            .profilename{
                font-size: 14px;
                color: white;
                margin-top: 2px;
                display: block; 
            }
            .title1{
                color: white;
                font-size: 16px;
                font-weight: 500;
                margin-top: 8px; 
                margin-bottom:2px;
                width: 100%;
            }
            .videoinfo{
                align-items: center;
                width: 100%;
                vertical-align: top;
            }
           
            .views{
                font-size: 14px;
                color: #AAAAAA;
                margin-top: 2px;
                display: block;
            }
            .image-container{
                width: 100%;
                position: relative;
            }
            .allbuttonsa{
                background-color: white;
                color: black;
            }
            .allbuttonsa:hover{
                cursor: pointer;
            }
            .video-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px; 
                row-gap: 32px; 
             }
             .videoinfogrid{
                display: grid;
                grid-template-columns: 36px 1fr;
                column-gap: 12px;   
             }
             .thumbnail1{
                width: 100%;
                border: 1px transparent solid;
             }
             .absolute{
                position: absolute;
                bottom: 8px;
                right: 8px;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                padding: 2px 4px;
                font-size: 12px;
                border-radius: 4px;
             }
             .thumbnail1:hover{
                transform: scale(1.02);
                cursor: pointer;
                border: 1px solid #f1f1f1;
                border-radius: 8px;
            }